/*
 * Baker Framework - Info Bos
 * last update: 2013-07-15
 * 
 * Copyright (C) 2011-13 by Davide S. Casali <folletto AT gmail DOT com>
 * 
 */

/****************************************************************************************************
 * General
 */
body {
    background: #f0f0f0;
    font-family: "HelveticaNeue-Light", "HelveticaNeue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 10px;
}

a {
  color: #b50303;
}

iframe#login {
    width: 100%;
    border: none;
}

/****************************************************************************************************
 * Typography
 */
p, ul, ol {
  font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "BodoniSvtyTwoOSITCTT-Bold", Times, serif;
  font-weight: normal;
  text-align: left;
  
  border: 0;
  margin: 0;
  padding: 0;
}

strong {
  font-weight: normal;
}

h1 {
  color: #bc242a;
  font-size: 25px;
  padding: 0;
  margin: 15px 0 15px 0;
}

h2 {
  margin: 30px 0 8px;
  font-size: 20px;
  text-transform: uppercase;
}

/****************************************************************************************************
 * Mini Divider
 */
#minivider {
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding: 25px 0 6px;
}

#minivider strong {
  color: #b50303;
}

.imageframe-black {
  background: #000000;
  text-align: center;
  padding: 10px;
}

/****************************************************************************************************
 * Extend
 */
.grid-50 {
  padding-left: 0;
  padding-right: 20px;
}

/****************************************************************************************************
 * Buttons
 */
.button {
  display: inline-block;
  background: #bc242a;
  color: #ffffff;
  padding: 8px 14px;
  text-decoration: none;
}






